.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.projectHead {
    font-size: 40px;
    font-weight: 700;
}

.project {
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.projectImg {
    border: .5px solid gray;
    width: 972px;
    height: 580px;
    margin: 0 auto;
}

.projectCaption {
    max-width: 970px;
    height: 10%;
    margin: 0 auto;
}

.captionHead {
    font-size: 20px;
    font-weight: 700;
}

.captionPara {
    font-size: 17px;
    font-style: italic;
}


/* Gets set when user hovers over project element */
.overlay {
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(16, 61, 104, 0.8) 35%);
    background-size: contain;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.show {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
    
}

.site,
.git {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px;

}

.siteLink,
.gitLink {
    color: white;
    font-size: 25px;
    margin-bottom: 8px;
}

.siteLink:hover,
.gitLink:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out; 
}

